body {
    margin: 0;
    padding-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    padding-bottom: 20px; 
    max-height: 100px;
    display: grid;
    grid-template-columns: 100px auto;
}

.logo {
    text-align: center;
    border-radius: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
    height: 50%; /* Set the height of the nav container */
    position: relative; /* Position nav relatively */
}

nav a {
    padding: 25px 120px; /* Adjust padding for horizontal space between links */
    text-decoration: none; /* Remove underline */
    color: black; /* Set link color */
    position: relative; /* Required for absolute positioning of the hover box */
}

nav a:hover::after {
    content: ''; /* Add an empty content */
    position: absolute; /* Position the box absolutely */
    left: 0; /* Adjust according to your design */
    right: 0; /* Adjust according to your design */
    bottom: 0; /* Adjust according to your design */
    top: 0; /* Adjust according to your design */
    border: 1px solid gray; /* Add border style */
    border-radius: 5px; /* Add border radius for rounded corners */
}





#hero {
    height: 100%; 
    background-image: url('images/hero-image.jpg'); 
    background-size: cover; 
    background-position: center; 
    position: relative;
    z-index: -1; 
}

main.home-grid {
    display: grid;
    grid-template-columns: 1fr;

}

main.home-grid img {
    width: 100%;
    height: auto;
    display: block;
}

section.msg {
    padding: 20px;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

.social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.textbox {
    position: absolute;
    top: 92%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 20px;
    font-size: 17px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
}