body {
    margin: 0;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    padding-bottom: 20px; 
    max-height: 100px;
    display: grid;
    grid-template-columns: 100px auto;
}

.logo {
    text-align: center;
    border-radius: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
    height: 50%; 
    position: relative; 
}

nav a {
    padding: 25px 120px; 
    text-decoration: none; 
    color: black; 
    position: relative; 
}

nav a:hover::after {
    content: ''; 
    position: absolute; 
    left: 0;
    right: 0; 
    bottom: 0;
    top: 0;
    border: 1px solid gray; 
    border-radius: 5px; 
}





#hero {
    height: 100%; 
    background-image: url('images/hero-image.jpg'); 
    background-size: cover; 
    background-position: center; 
    position: relative;
    z-index: -1; 
    justify-content: center;
    align-items: center;
}

main.home-grid {
    display: grid;
    grid-template-columns: 1fr;

}

main.home-grid img {
    max-width: 900px;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

section.msg {
    padding: 20px;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

.social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.textbox {
    position: absolute;
    top: 92%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 20px;
    font-size: 17px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
}