body {
    margin: 0;
    padding-top: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    padding-bottom: 20px; 
    max-height: 100px;
    display: grid;
    grid-template-columns: 100px auto;
}

.logo {
    text-align: center;
    border-radius: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    padding: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
    height: 50%; 
    position: relative; 
}

nav a {
    padding: 25px 120px; 
    text-decoration: none; 
    color: black; 
    position: relative; 
}

nav a:hover::after {
    content: ''; 
    position: absolute; 
    left: 0;
    right: 0; 
    bottom: 0;
    top: 0;
    border: 1px solid gray; 
    border-radius: 5px; 
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.image-container{
    max-width: 600px; 
    text-align: center; 
    margin-bottom: 20px; 
}

.image-container img[src="images/shootingrange.jpg"]{
    max-width: 100%;
    height: auto; 
}

.image-container img[src="images/gunparts.jpg"]{
    max-width: 100%;
    height: auto; 
}

.textbox {
    text-align: center;
}